
{{!-- LOGIN HEADBAR --}}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
style="background-color: rgb(27, 34, 80) !important;">
  <div class="container-fluid">
  <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-brand navbar-nav ms-auto mb-2 mb-lg-0">
      <a class="nav-link mb-0 h1 fs-2 text-white" href="/">Hugger &#128151</a>
      </div>
    </div>
  </div>
</nav>

{{!-- END --}}




<div id="form">
    <h2>Sign up</h2>
    <form action="/signup" method="POST">
    
    <label> Username
        <input type='text' name='username' placeholder= "Add unique id here"/> 
        </label><br/>
    </label>

    <label> Password
        <input type='password' name='password' placeholder= "************"/> 
    </label>

    <button type="submit">Create account</button>
    </form>
</div>

 {{#if errorMessage}}
 <p class = "error">{{errorMessage}}</p>
 {{/if}}


  <a href="/login"><button class ="btn btn-link">Already a Hugger&#128151?</button></a>
