<h2>Write today's journal</h2>

<form action ="/daily-journal" method = "Post">
<label for ="title">Title:
    <input type="text" id = "journal-title" name ="title"/>
</label>
<br>
<label for ="content">Journal Content:
    <input type="text" id="journal-content" name ="content"/>
</label>
<br>
<label for ="date">Date:
    <input type="date" id ="post_date" name ="createdAt"/>
</label>
<br>
<button type="submit"> Create your Journal </button>
</form>

<a href="/userProfile">Go back to Dashboard</a>
<br>
<a href="/journal-list">Check Your Journals</a>

