
{{!-- LOGIN HEADBAR --}}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
style="background-color: rgb(27, 34, 80) !important;">
  <div class="container-fluid">
  <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-brand navbar-nav ms-auto mb-2 mb-lg-0">
      <a class="nav-link mb-2 h1 fs-0 text-white" href="/">Hugger &#128151</a>
      <form id="logout-form" action="/logout" method="POST">
      <button>Logout</button>
      </form>
      </div>
    </div>
  </div>
</nav>

{{!-- END --}}


<section class ="background-section"> 
<div class="bg-indigo text-white"> 
<section class="daily-journal-section">
  <div class="writejournal-textbox">  
<h2>Write today's journal</h2>
</div>
<div class="row"> 
  <div class="col-sm-6"> 
<form action ="/daily-journal" method = "Post" enctype="multipart/form-data">

<div class="journal-content-padding-box"> 
<div class="form-outline mb-4">
<label for ="title">Title:
     <input type="text" name="title" class="form-control" placeholder="Title goes here..."/>
</label>
</div>

<div class="form-outline mb-4">
<label for ="content">Journal Content:
   <input type="text" name ="content" class="form-control h-25" cols="30" rows="4" placeholder="How is your day?"/> 
</label>
</div>

<div class="form-outline mb-4">
<label for ="date">Date:
    <input type="date" name ="createdAt" class="form-control-file"/>
</label>
</div>
<div class="form-outline mb-4">
        <label>Image:
          <input type="file" name="journal-post-image" class="form-control-file" />
        </label>
      </div>
</div>
 
<div class="journalcreat-btn"> 
<button type="submit" id ="jounalcreat-btn" class="btn btn-warning fw-bold mr-2"> Create your Journal </button>
</div>
</form>
</div>
</div>
</section>
</div>

<div class="last-btn"> 
 <nav class="navbar navbar-expand-lg">
      <a class="nav-link" href="/userProfile"><button class ="btn btn-primary btn-sm">Go back to Profile</button></a> 
      <a class="nav-link" href="/journal-list"><button class ="btn btn-primary btn-sm">Check Your Journal</button></a>
    </nav>
</div>
    </section>
