<section class ="journal-section"> 
<div class="bg-indigo text-white"> 
<section class="daily-journal-section">
  <div class="writejournal-textbox">  
<h2>Write today's journal</h2>
</div>
{{!-- <div class="row"> 
  <div class="col-sm-6">  --}}
<form action ="/daily-journal" method = "Post" enctype="multipart/form-data">

<div class="journal-content-padding-box"> 
<div class="form-outline mb-4">
<label for ="title">Title:
   {{!-- <textarea name="title" cols="10" rows="10" style="width:100%"; class="form-control"> </textarea> --}}
    {{!-- <textarea class="col-md-12" ng-model="myTextarea" placeholder="Please write customer notes"></textarea> --}}
     <input type="text" name="title" class="form-control" placeholder="Title goes here..."/>
    {{!-- <input type="text" id = "journal-title" name ="title" class="form-control" /> --}}
</label>
</div>

<div class="form-outline mb-4">
<label for ="content">Journal Content:
   <input type="text" name ="content" class="form-control h-25 w-auto" cols="30" rows="4" placeholder="How is your day? Start journaling here!"/> 
</label>
</div>
<br>
<div class="form-outline mb-4">
<label for ="date">Date:
    <input type="date" name ="createdAt" class="form-control-file"/>
</label>
</div>
<div class="form-outline mb-4">
        <label>Image:
          <input type="file" name="journal-post-image" class="form-control-file" />
        </label>
      </div>
</div>
 
<div class="journalcreat-btn"> 
<button type="submit" id ="jounalcreat-btn" class="btn btn-warning fw-bold mr-2"> Create your Journal </button>
</div>
</form>
{{!-- </div>
</div> --}}
</section>
</div>



<div class="last-btn"> 
 <nav class="navbar navbar-expand-lg">
      <a class="nav-link" href="/userProfile"><button class ="btn btn-primary btn-sm">Go back to Dashboards</button></a> 
      <a class="nav-link" href="/journal-list"><button class ="btn btn-primary btn-sm">Check Your Journal</button></a>
    </nav>
</div>
    </section>
