  
<h2>My Journals</h2>
 
<ul>
  {{#each journals}}
    <li>
      <a href="/daily-journal/{{_id}}"> {{ this.createdAt }} - {{this.title}}</a>
    </li>
  {{/each}}
</ul>
<br>
<br>
<a href="/daily-journal">⬅️ Back to journal</a>
