<h2>My Journals</h2>

<ul>
  {{#each journals}}
    <li>
      {{this.title}}
      by
      {{this.author.username}}
    </li>
  {{/each}}
</ul>

<a href="/userProfile">Back to Dashboard</a>
<br>
<a href="/daily-journal">Write New Journal</a>