<div class="container text-center background-image">

  <h2 class="title mb-5">We are Huggers!</h2>

  <div>
    <div class="about-project mb-5">
      <h3>Our Aspiration</h3>
      <p>We want to create an inclusive online community that fosters empathy,
        support, and resilience. We envision a world where individuals can
        openly discuss mental health topics, share their experiences, and
        inspire positive change, all while feeling safe, accepted, and
        empowered.
      </p>
      <br />
      <h3>Our Purpose</h3>
      <p>We aim to provide a secure and compassionate digital platform where
        people can connect, learn, and grow together in their mental health
        journeys. Through informative resources, meaningful discussions, and
        peer support, we aim to break the stigma surrounding mental health and
        promote mental well-being for everyone.</p>
    </div>
  </div>
  <div>
    <a href="/signup" class="btn btn-primary mb-6 mb-md-1">Join the community</a>
  </div>

  <div class="container text-center mb-5">
    <h3>Team</h3>
    <div class="row justify-content-center">
      <div class="col-4">
        <h4>Alice</h4>
        <img src="alice.jpg" alt="Alice's Image" class="img-fluid" />
      </div>
      <div class="col-4">
        <h4>Maddy</h4>
        <img src="alice.jpg" alt="Maddy's Image" class="img-fluid" />
      </div>
      <div class="col-4">
        <h4>Mira</h4>
        <img
          src="../public/images/4286783.png"
          alt="Mira's Image"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</div>