{{!-- NEW NAVBAR  --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
style="background-color: rgb(27, 34, 80) !important;">
  <div class="container-fluid">
  <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-brand navbar-nav ms-auto mb-2 mb-lg-0">
        {{!-- <a class="nav-link mb-0 h1 fs-2 text-white" href="/">Hugger</a> --}}
        <a class="nav-link text-white" aria-current="page" href="/about">About Us</a>
        <a class="nav-link text-white" href="/login ">Login</a>
      </div>
    </div>
  </div>
</nav>
{{!-- END --}}

<div class="container text-center">
  <div class="mb-4">
    <h1>Hugger &#128151</h1>
  </div>

  <div class="mb-4">
    <p>Safe Conversations, Stronger Minds
      <br />
      A platform for open and safe mental health discussions.</p>
  </div>

  <div class="mb-4">
    <a href="/signup" class="button-mira btn btn-primary mb-8 mb-md-1">Join the community</a>
  </div>

</div>