<div class="container text-center">
  <div class="mb-4">
    <h1>Hugger &#128151</h1>
  </div>

  <div class="mb-4">
    <p>Safe Conversations, Stronger Minds
      <br />
      A platform for open and safe mental health discussions.</p>
  </div>

  <div class="mb-4">
    <a href="/signup" class="button-mira btn btn-primary mb-8 mb-md-1">Join the community</a>
  </div>

</div>