<div>

  <h1>Hugger &#128151</h1>

  <p>Safe Conversations, Stronger Minds - A platform for open and safe mental
    health discussions.</p>

  <button><a href="/signup">Join the community</a></button>

</div>