<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Hugger</title>
     {{!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />  --}}
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <link rel="stylesheet" href="https://bootstrap-colors-extended.herokuapp.com/bootstrap-colors.css" />
     <link rel="stylesheet" href="https://bootstrap-colors-extended.herokuapp.com/bootstrap-colors-themes.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

<body>
    <!-- mainpage navbar code below -->
    <nav>
      <ul class="nav-bar">
        <li id="to-left">
          <p><a href="/"> Hugger &#128151 </a></p>
        </li>
        <li id="to-right">
          <a href="/signup">Sign up</a>
          <span> | </span>
          <a href="/login">Login</a>
          <span> | </span>
          <a href="/about">About Hugger</a>
          <span> | </span>
          <form id="logout-form" action="/logout" method="POST">
            <button>Logout</button>
          </form>
        </li>
      </ul>
    </nav>

    {{!-- <img
      src="/images/testing-image.jpg"
      alt="mainimage"
      width="500"
      height="350"
    /> --}}

    {{{body}}}

    <br />
    <footer class="footer">
      <div>
        <h4> Follow Us </h4>
        <ul class="footer">
          <li>
            <a href="https://www.facebook.com/" target="_blank">
              Facebook
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/" target="_blank">
              Instagram
            </a>
          </li>
        </ul>
        <span>
          &copy; Hugger &#128151 created with love by Alice, Maddy and Mira
        </span>
      </div>
    </footer>

  </body>

</html>