
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

*{
font-family: "Quicksand", sans-serif;
}
/* JOURNAL STYLING */
h2 {
  font-size:64px;
}

.myjournals-textbox {
  
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom:10px;
  margin-bottom:50px;
  margin-top: -50px;

}
.journal-section {
  background-image: linear-gradient(rgb(51,27,106), rgb(97,85,143), rgb(232,147,12));
}
.journal-list-section {
 padding: 100px;
}

.card {
  border: 3px solid 
}

.text-center{
  padding-top:35px;
}
.card-body {
  color:rgb(23, 1, 42);
}

.journal-card-container {
  padding-top: 100px;
  padding-left: 50px;
  margin-top:-80px;
 }

 /* same card size */
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

 #journal-list-image {
  max-width: 200px; 
}

.journalwrite-text {
  font-size:64px;
  padding-left: 100px;
  margin-top:50px;
}

.journalcreat-btn {
  margin-left:100px;
  margin-top:50px;

}

.writejournal-textbox {
  margin-bottom:50px;
  margin-top: 50px;
  padding-top:50px;
  padding-left: 90px;
}

.journal-content-padding-box {
  padding-left:100px;
  margin-top:-20px;
 
}
.last-btn {
  margin-left:85px;
  margin-top:70px;

}

.edit-btn {
  margin-top:70px;
}
.backlink-btn {
  margin-top: 30px;
  margin-bottom: 100px;
  margin-left:-10px;

}

.detail-btn {
  margin-left:100px;
  margin-top:70px;
}

.link-btns {
  margin-left:-15px;
  margin-bottom: 50px;
}

/* style for emoji */
.emoji-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.emoji-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emoji {
  font-size: 20px;
  font-weight: bold;
  padding: 2px;
}

/* Style the default appearance of the labels */
.emoji-label {
  cursor: pointer;
  padding: 1px;
  border: 3px solid #cbbbcb;
  border-radius: 10px;
  margin: 5px;
  width: 80px;
  height: 70px;
  color: beige;
}

/* avatar */
.avatar {
  height: 200px;
  width: auto;
  border-radius: 20px;
}


.card-body {
  background-color: rgb(244, 200, 118);
}

.posts-button {
  text-align: center;
  color: white;  
}

.btn {
  background-color: #341773;
  margin-bottom: 20px;
  margin-top: 20px;
}

.head-posts{
  text-align: center;

.btn-primary {
  background: linear-gradient(rgb(36, 119, 170) 0%, rgb(100, 97, 224) 100%);
  border-radius: 100px;
  transition: margin 0.3s ease-out 0s, opacity 0.3s ease-out 0s;
  margin: 0px;
  box-shadow: none;
  border: none;
  color: rgb(255, 255, 255);
}

.profile-body {
  background-color: #f26b1d;
  color: aliceblue;
}

.recomm {
  margin-top: 50px;
}

.mood {
  margin-top: 40px;
}

.each-post {
  margin-top: 5px;
  background-color: #8d765c;
  color: aliceblue;
  padding: 5px;
}

.activity {
  margin-top: 40px;
}

.left-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
  background-color: #f29f05;
}

.profile-left {
  background-color: #f29f05;
  padding: 20px;
  padding-left: 20px; 
}

.profile-right {
  padding: 10px;
}

.profile-buttons{
  padding-top: 30px;
}
