/* ul {
    border-bottom: 2px solid #876c91;
    height: 30px;
    padding: 1em 0;
    list-style-type: none;
  }
  
  ul li {
    line-height: 20px;
  }
  
  #to-right {
    padding: 1em;
    float: right;
  }
  
  #to-right span {
    color: #876c91;
    font-size: 1.5em;
  }
  
  #form h2 {
    display: flex;
    justify-content: center;
  }
  
  #to-left {
    float: left;
  }
  
  #to-left p a {
    color: #000;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
  } */