<h2>What is on your mind?</h2>

<form action="/create-post" method="POST">

  <label> Title:
    <input type="text" name="title" placeholder="1-2 words" />
  </label>
  <br>

  <label> Post:
    <textarea type="text" name="content" placeholder="what's on your mind?"> </textarea>
  </label>
  <br>

  <label>

    By:
    {{xyz.username}}

  </label>

  <button type="submit"> Post </button>
  <br/>
  <a href="/posts"> See all Hugger's Posts </a>
  <br/>
  <a href="/userProfile">Go back to Dashboard</a>

<br/>

 
