
{{!-- LOGIN HEADBAR --}}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark"
style="background-color: rgb(27, 34, 80) !important;">
  <div class="container-fluid">
  <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-brand navbar-nav ms-auto mb-2 mb-lg-0">
      <a class="nav-link mb-2 h1 fs-0 text-white" href="/">Hugger &#128151</a>
      <form id="logout-form" action="/logout" method="POST">
      <button>Logout</button>
      </form>
      </div>
    </div>
  </div>
</nav>

{{!-- END --}}

 
   <div class="postjournal-textbox">
  <h2>Edit your post: {{post.title}}</h2>
</div>
<div class="editPost-box">
  <form action="/posts/{{post._id}}/edit" method="post">
    <div class="form-outline mb-4">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" value="{{post.title}}" />
    </div>
    <div class="row mb-4 form-group w-150">
      <label for="content">Post:</label>
      <textarea id="content" name="content">{{post.content}}</textarea>
    </div>
    <button type="submit">Save changes</button>
  </form>
</div>
